.container {
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(75, 75, 247);
  border-radius: 0.5rem;
}
.row1 {
  border-radius: 0.7rem;
}
.head {
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: bold;
}
.center {
  text-align: center;
}
.version {
  font-weight: bold;
  color: #808080;
}
.dark {
  font-size: 3rem;
  font-weight: 500;
}
.bold {
  font-weight: bold;
}
.row2 {
  padding: 1rem;
}
.but {
  width: 23rem;
}
.but,
.card:hover {
  margin-top: -0.2rem;
}
.display {
  opacity: 0.5;
}
